        .nav-bar{
            width: 100%;
            height: 80px;
            background-color:lightskyblue;
            display: flex;
            justify-content:space-between;
            align-items: center;
        }
        .nav-bar a{
            text-decoration: none;
            color: cadetblue;
            font-size: larger;
            letter-spacing: 1px;
            padding: 0px 10px;
        }
        .nav-bar a:hover{
            color: greenyellow;
        }
        .section h1{
            text-align: center;      
        }
        .sub-section{
            display: flex;
            flex-direction: row;
        }
        .footer{
            width: 100%;
            height: 90px;
            background-color: gray;
        }